[submodule "lib/tiny_sha3"]
	path = lib/tiny_sha3
	url = https://github.com/mjosaarinen/tiny_sha3/
[submodule "lib/tiny-AES-c"]
	path = lib/tiny-AES-c
	url = https://github.com/kokke/tiny-AES-c
[submodule "lib/ed25519"]
	path = lib/ed25519
	url = https://github.com/orlp/ed25519/
[submodule "keedger8r"]
	path = keedger8r
	url = http://150.82.217.189/vc707/keedger8r.git
[submodule "keyedge"]
	path = keyedge
	url = http://150.82.217.189/vc707/keyedge.git
